*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/google-services.json
app/src/main/java/com/zybooks/practicepals/copy_files_to_clipboard.sh
.idea/other.xml
copy_files_to_clipboard.sh
